* {
  box-sizing: border-box;
  margin: 0%;
}
h1 {
  font-size: 64px;
  margin-left: 20px;
  color: #f6f4f8;
}
header {
  padding: 20px;
  background-color: #131313;
  display: flex;
  justify-content: space-around;
}
ul {
  padding: 30px;
}

.pages {
  text-align: center;
  color: #f6f4f8;
  overflow: hidden;
  float: left;
  margin-left: 50px;
  position: relative;
  text-decoration: none;
}
.pages:hover::after {
  transform: translate3d(0, 0, 0);
}
.pages::before,
.pages::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.pages::before {
  background-color: #d27d54;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.pages::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #d27d54;
}

.pages:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.pages:hover::after {
  transform: translate3d(0, 0, 0);
}
h2 {
  font-size: 40px;
  background-color: #272727;
  padding: 20px;
  text-align: center;
  color: #f6f4f8;
}
h3 {
  font-size: 24px;
  color: #2e3157;
}
p {
  font-size: 16px;
}
.content1 {
  background-color: #2e3157;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.inner-content1 {
  background-color: #f6f4f8;
  width: 35.45%;
  min-width: 345px;
  padding: 40px;
  box-shadow: 1px 1px 2px #131313;
  color: #2e3157;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-gallery {
  background-color: #f6f4f8;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.inner-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b182a;
  width: 550px;
  color: #131313;
  height: max-content;
  box-shadow: 1px 1px 2px #131313;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 345px;
}

.inner-gallery h3,
.inner-gallery img,
.inner-gallery p {
  width: 80%;
  margin: 15px;
  color: #f6f4f8;
}
.content2 {
  background-color: #2e3157;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner-content2 {
  background-color: #f6f4f8;
  width: 100%;
  padding: 40px;
  box-shadow: 1px 1px 2px #131313;
  color: #2e3157;
  margin-left: 10px;
  margin-right: 10px;
}
.socials {
  height: 100px;
  width: 100px;
  margin: 0%;
}
footer {
  padding: 50px;
  background-color: #272727;
  display: flex;
  justify-content: space-around;
}
.social-buttons {
  margin: 20px;
  width: 100px;
  height: 100px;
}
.social-buttons:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
